body {
  background: #0e0e0e;
  padding-top: 70px;

}
div.container {
  background: white;
  width: 320px;
  border: 1px solid #D3D3D3;
  padding: 10px;
  margin: 10px;
}

.fact {
  font-style: italic;
}

.label {
  font-weight: bold;
}
