body {
  padding-top: 70px;
}

div.container {
  width: 300px;
  border: 1px solid #D3D3D3;
  margin: auto;
  padding: 10px;
  box-shadow: 5px 5px #e6e6e6;
}

div.about-animal {
  border: 1px solid #D3D3D3;
  padding: 10px;
  font-size: 12px;
}


ul {
  list-style-type: none;
  padding-left: 0;
}
.fact {
  font-style: italic;
}

.label {
  font-weight: bold;
}
